@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.cont{
	padding: 10px;
}

input[type=submit]{
	font-size: 13px;
  background-color: #1565c0;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.navbar{
	background-color: #4cc9f0;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

ul{
	list-style-type: none;
	padding: 0px;
	margin: 0;
	display: flex;
	align-items: center;
}

li{
	margin-right: 20px;
}

.btn, button{
	font-size: 13px;
  background-color: #1565c0;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
}

.msg{
	width: 100%;
	text-align: center;
	height: 40px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 40px;
}

.red{
	background-color: #f25c54;
	color: #212529;
}

.green{
	background-color: #b5e48c;
	color: green;
}

.cont{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.College, .HigherEd, .LowerEd{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 20px;
}

.head{
	padding: 10px 15px;
	border: 1px solid #dee2e6;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 4px;
	background-color: #f8f9fa;
	font-size: 0.8rem;
	color: #0a0908;
	text-align: left;
}

.table_content{
	width: 100%;
	padding: 20px;
	border: 1px solid #dee2e6;
	border-radius: 4px;
	background-color: #f8f9fa;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.table_content td{
	padding-bottom: 4px;
}

.label{
	font-size: 0.8rem;
	color: #0a0908;
}

.value{
	font-size: 0.8rem;
	color: #495057	;
}

.pair{
	margin-bottom: 20px;
}
